./venv/
/venv/
venv/

./__pycache__/
/__pycache__/
**/__pycache__/
**/**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyde
*.pydc
*.pytc
*.pytd
*.pyde
*.pydc
*.pytc
*.pytd
*.log
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal
*.pkl
*.pkl.gz
*.pkl.bz2
*.pkl.xz
*.pkl.lzma
*.pkl.zip
*.pkl.tar
*.pkl.tar.gz
*.pkl.tar.bz2
*.pkl.tar.xz
*.pkl.tar.lzma
*.pkl.tar.zip
*.pkl.tar.tar
*.pkl.tar.tar.gz
*.pkl.tar.tar.bz2
*.pkl.tar.tar.xz
*.pkl.tar.tar.lzma
*.pkl.tar.tar.zip
*.pkl.tar.tar.tar
*.pkl.tar.tar.tar.gz
*.pkl.tar.tar.tar.bz2
*.pkl.tar.tar.tar.xz
*.pkl.tar.tar.tar.lzma
*.pkl.tar.tar.tar.zip
*.pkl.tar.tar.tar.tar
*.pkl.tar.tar.tar.tar.gz
*.pkl.tar.tar.tar.tar.bz2
*.pkl.tar.tar.tar.tar.xz
*.pkl.tar.tar.tar.tar.lzma
*.pkl.tar.tar.tar.tar.zip
*.pkl.tar.tar.tar.tar.tar
*.pkl.tar.tar.tar.tar.tar.gz
*.pkl.tar.tar.tar.tar.tar.bz2
*.pkl.tar.tar.tar.tar.tar.xz
*.pkl.tar.lzma   // added this line to include .tar.lzma files in gitignore file
*.pkl.tar.lzma  
